# This file holds 'production' mode specific envs only

# DB (production)
DB_HOST =
DB_USER =
DB_PASS =
DB_NAME =
DB_CONNECTION_POOL_LIMIT = 5
DB_PORT = "3306" # (Optional)


# AWS S3 bucket
AWS_S3_BUCKET_ACCESS_KEY_ID = ""
AWS_S3_BUCKET_SECRET_ACCESS_KEY = ""
AWS_REGION = ""
AWS_S3_BUCKET_NAME = ""

# AWS Cloudfront
AWS_CLOUD_FRONT_CDN_URL = ""

# AWS SQS
AWS_SQS_REGION = ""
AWS_SQS_USER_ACCESS_KEY = ""
AWS_SQS_USER_SECRET_ACCESS_KEY = ""

# AWS SNS
AWS_SNS_REGION = ""
AWS_SNS_USER_ACCESS_KEY = ""
AWS_SNS_USER_SECRET_ACCESS_KEY = ""

# SMTP
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Uploaded media base URL
MEDIA_BASE_URL=

# Frontend URL
FRONT_END_URL=

# Visitor App URL
VISITOR_APP_URL=

# Donwload Base URL
DOWNLOAD_BASE_URL=

# API Base URL
API_BASE_URL=


# SMS Gateway
SMS_GATEWAY_URL=
SMS_GATEWAY_API_KEY=
SMS_GATEWAY_SENDER_ID=

ALLOWED_ORIGINS=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=0

IS_STATIC_OTP="YES"
STATIC_OTP="1234"
TEST_OTP_NUMBERS=
TEST_OTP_EMAILS=

# puppeteer - path to chromium browser
# PUPPETEER_CHROMIUM_PATH='/usr/bin/chromium-browser'
PUPPETEER_CHROMIUM_PATH=

ENCRYPTION_SECRET=a7f3d9c2e8b1f5a4d6c0e9b3f2a1d8c7


