# App Esentials
PORT=5050
NODE_ENV="development"
USE_CLUSTER_MODULE = "false"

# Auth Esentials
CRYPT_SALT_ROUNDS = 10
# (Mandatory) To be generated manually
JWT_SECRET =
# (Mandatory) To be generated manually
JWT_REFRESH_SECRET =

JWT_ACCESS_TOKEN_EXPIRE_IN="1d"
JWT_REFRESH_TOKEN_EXPIRE_IN="1d"
JWT_KEEP_SIGNIN_EXPIRE_IN="30d"
JWT_TMP_TOKEN_EXPIRE_IN="1d"